/* .container {
	max-width: 1062px;
} */
.icons {
	top: 25%;
	left: 5px;
}
.filter-input {
	padding-left: 30px;
}
.form-select {
	font-family: "Spartan", "Arial" !important;
}
.container-users {
	margin-left: 14px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card {
	max-width: 225px;
	margin-top: 20px;
	cursor: pointer;
}
.card,
.card > img {
	transition: 0.3s ease-in-out;
}
.card:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
}

.card:hover img {
	opacity: 0.7;
}

@media screen and (max-width: 991px) {
	.container-users {
		margin-left: 0;
	}
	.team-info {
		justify-content: center;
	}
}
@media screen and (max-width: 480px) {
	.container-users {
		justify-content: center;
	}
}
