
.menu {
    max-width: 300px;
    color: white;
    display: inline-block;
    border-right: 2px solid #ffffff;
    padding-left: 30px;
    padding-right: 40px;
    position: absolute;
    min-height: 100vh;
}

h2 {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.options span {
    margin-left: 10px;
    font-weight: 600;
}
 .options div {
    margin-bottom: 35px;
}

.options div:hover {
    cursor: pointer;
    color: #0D6EFD;
}
.options svg {
    font-size: 25px;
}
