.container-form label {
	display: block;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 2px;
}
.container-form input {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid rgb(190, 186, 186);
	outline: none;
	font-size: 16px;
	color: #25252f;
	font-weight: 500;
	padding: 7px 10px;
}
.container-form input:focus {
	border: 1px solid #fcac0d;
}
.container-form input:hover {
	border: 1px solid #fcac0d;
	cursor: pointer;
}
.container-form input::placeholder {
	color: #25252f;
	opacity: 0.4;
	font-size: 14px;
}
.container-form .login-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.container-form .login-bottom button {
	background-color: #0d6efd;
	color: white;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	/* padding: 0 15px; */
}
.container-form input[button] {
	font-family: "Spartan" sans-serif !important;
}
.container-form .login-bottom a {
	color: #25252f;
	text-decoration: none;
	font-weight: 500;
}
.container-form .login-bottom a:hover {
	cursor: pointer;
	color: #0b5ed7 !important;
	font-weight: 500;
}
.container-form .login-bottom button:hover {
	background-color: #0b5ed7;
	color: #ffffff;
}

@media screen and (max-width: 620px) {
	.container-form {
		width: 90%;
	}
}
@media screen and (max-width: 480px) {
	.container-form {
		padding: 60px 50px;
	}
	.container-form .login-bottom {
		display: block;
	}
	.container-form .login-bottom p {
		font-size: 16px;
	}
	.container-form .login-bottom button {
		padding: 10px 15px;
	}
}
@media screen and (max-width: 340px) {
	.container-form {
		padding: 50px 35px;
	}
}
