body {
	font-family: "Spartan", "sans-serif";
}
.wrapper {
	/* position: absolute;
	top: 0;
	z-index: -1; */
	width: 100%;
	min-height: 100vh;

	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(assets/office.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	/* Was cover */
}
.container-form {
	background: linear-gradient(180deg, rgb(250, 248, 248) 75%, rgb(158, 157, 157) 100%);
	border-radius: 10px;
	box-shadow: 0 0 20px #25252f;
	margin: 20px auto 40px auto;
	max-width: 550px;
	padding: 40px 70px;
	min-height: 518px;
}
.container-form h1 {
	font-size: 24px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 35px;
	color: #25252f;
}
.container-form input:hover {
	border: 1px solid #fcac0d;
	cursor: pointer;
}

.dot-pulse {
	position: relative;
	left: -9920px;
	bottom: 44%;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(13, 110, 253);
	color: rgb(13, 110, 253);
	box-shadow: 9999px 0 0 -5px rgb(13, 110, 253);
	animation: dotPulse 1.5s infinite linear;
	animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(13, 110, 253);
	color: rgb(13, 110, 253);
}

.dot-pulse::before {
	box-shadow: 9984px 0 0 -5px rgb(13, 110, 253);
	animation: dotPulseBefore 1.5s infinite linear;
	animation-delay: 0s;
}

.dot-pulse::after {
	box-shadow: 10014px 0 0 -5px rgb(13, 110, 253);
	animation: dotPulseAfter 1.5s infinite linear;
	animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
	0% {
		box-shadow: 9984px 0 0 -5px rgb(13, 110, 253);
	}
	30% {
		box-shadow: 9984px 0 0 2px rgb(13, 110, 253);
	}
	60%,
	100% {
		box-shadow: 9984px 0 0 -5px rgb(13, 110, 253);
	}
}

@keyframes dotPulse {
	0% {
		box-shadow: 9999px 0 0 -5px rgb(13, 110, 253);
	}
	30% {
		box-shadow: 9999px 0 0 2px rgb(13, 110, 253);
	}
	60%,
	100% {
		box-shadow: 9999px 0 0 -5px rgb(13, 110, 253);
	}
}

@keyframes dotPulseAfter {
	0% {
		box-shadow: 10014px 0 0 -5px rgb(13, 110, 253);
	}
	30% {
		box-shadow: 10014px 0 0 2px rgb(13, 110, 253);
	}
	60%,
	100% {
		box-shadow: 10014px 0 0 -5px rgb(13, 110, 253);
	}
}

@media screen and (max-width: 620px) {
	.container-form {
		width: 90%;
	}
}
@media screen and (max-width: 480px) {
	.container-form {
		padding: 60px 50px;
		max-height: 640px;
	}
}
@media screen and (max-width: 340px) {
	.container-form {
		padding: 50px 35px;
	}
}
